<div class="container form-task">
  <%= form_with(model: task, local: true) do |form| %>
    <% if task.errors.any? %>
      <div class="alert alert-danger alert-dismissible mt-3">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</span>
        <ul>
          <% task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="card mt-5">
      <div class="card-header">
        <strong>Task</strong>
      </div>
      <div class="card-body">
        <div class="field">
          <strong><%= form.label :description %></strong>
          <%= form.text_field :description, class: "form-control mb-4" %>
        </div>

        <div class="field">
          <strong><%= form.label :date %></strong>
          <%= form.date_field :date, class: "form-control mb-4" %>
        </div>

        <div class="field">
          <strong><%= form.label :tags %></strong>
          <%= collection_select(:task, :tag_ids, Tag.all, :id, :name, {}, { :multiple => true, class: "form-control" } )%>
        </div>
      </div>
      <div class="card-footer text-muted">
        <div class="row float-right">
          <div class="add-tag">
            <%= link_to 'Add Tag', new_tag_path, class: "btn btn-primary mr-2" %>
          </div>
          <%= button_tag(type: 'submit', class: "btn btn-success") do %> Save<% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>