<div class="container">
  <div class="card">
    <div class="card-header">
      <% if user_signed_in? %>
        <%= button_to "Add Task", new_task_path, :class=> "btn btn-primary", :method => :get %>
      <% else %>
        <span>Tasks</span>
      <% end %>
    </div>
    <div class="card-body">
      <div class="tasks mb-5">
        <h1><i class="fas fa-caret-down"></i> New Tasks</h1>
        <% @tasks.select { |task| task.date == Date.tomorrow.in_time_zone('Brasilia').to_date }.each  do |task| %>
          <div class="d-flex bd-highlight">
            <div class="p-2 flex-grow-1 bd-highlight description">
              <i class="fas fa-check-circle"></i>
              <%= task.description %>
            </div>
                      
            <div class="p-2 bd-highlight">
              <% task.tags.each do |tag| %>
                <span class="tag" style="background-color: <%= tag.color %>;"><%= tag.name %></span>
              <% end %>
            </div>

            <div class="p-2 bd-highlight tomorrow">Tomorrow</div>

            <div class="p-2 bd-highlight edit">
              <% if user_signed_in? %>
                <%= link_to '<i class="fas fa-external-link-alt"></i>'.html_safe, task %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="tasks mb-5">
        <h1><i class="fas fa-caret-down"></i> Today</h1>
        <% @tasks.select { |task| task.date == Date.today.in_time_zone('Brasilia').to_date }.each  do |task| %>
          <div class="d-flex bd-highlight">
            <div class="p-2 flex-grow-1 bd-highlight">
              <i class="fas fa-check-circle"></i>
              <%= task.description %>
            </div>
                      
            <div class="p-2 bd-highlight">
              <% task.tags.each do |tag| %>
                <span class="tag" style="background-color: <%= tag.color %>;"><%= tag.name %></span>
              <% end %>
            </div>

            <div class="p-2 bd-highlight today">Today</div>

            <div class="p-2 bd-highlight edit">
              <% if user_signed_in? %>
                <%= link_to '<i class="fas fa-external-link-alt"></i>'.html_safe, task %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="tasks">
        <h1><i class="fas fa-caret-down"></i> Upcoming</h1>
        <% @tasks.select { |task| task.date > Date.tomorrow.in_time_zone('Brasilia').to_date }.each  do |task| %>
          <div class="d-flex bd-highlight">
            <div class="p-2 flex-grow-1 bd-highlight">
              <i class="fas fa-check-circle"></i>
              <%= task.description %>
            </div>
                      
            <div class="p-2 bd-highlight">
              <% task.tags.each do |tag| %>
                <span class="tag" style="background-color: <%= tag.color %>;"><%= tag.name %></span>
              <% end %>
            </div>

            <div class="p-2 bd-highlight upcoming"><%= task.date.strftime('%b %d') %></div>

            <div class="p-2 bd-highlight edit">
              <% if user_signed_in? %>
                <%= link_to '<i class="fas fa-external-link-alt"></i>'.html_safe, task %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      
    </div>
  </div>
</div>
