<div class="container form-tag">
  <%= form_with(model: tag, local: true) do |form| %>
    <% if tag.errors.any? %>
      <div class="alert alert-danger alert-dismissible mt-3">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</span>
        <ul>
          <% tag.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="card mt-5">
      <div class="card-header">
        <strong>Tag</strong>
      </div>
      <div class="card-body">
        <div class="field">
          <strong><%= form.label :name %></strong>
          <%= form.text_field :name, class: "form-control mb-4" %>
        </div>

        <div class="field">
          <strong><%= form.label :color %></strong>
          <%= form.color_field :color, class: "form-control mb-4" %>
        </div>
      </div>
      <div class="card-footer text-muted">
        <div class="row float-right">
          <%= button_tag(type: 'submit', class: "btn btn-success mr-2") do %> Save<% end %>
          <div class="action">
            <%= link_to "Back", :back, :class=> "btn btn-dark" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
